{% extends "shared/_layout.html" %}
{% block main_content %}
    <div class="hero">
        <div class="hero-inner">
            <h1>
                Ooops... It seems like something went wrong.
            </h1>
            <div class="error-text">
                <h4>This could be because of several reasons.</h2>
                <ul class=error-list>
                    <li>
                        Is this the first time you use boardgamesquire? Sometimes boardgamegeek needs a minute to prepare you collection. Try again in a minute.
                    </li>
                    <li>
                        Did you use a valid username?
                    </li>
                    <li>
                        There might be to much traffic on boardgamesquire. Please try again in a minute.
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}