{% extends "shared/_layout.html" %}
{% block main_content %}
    <div class="hero">
        <div class="hero-inner">
            <h1> Boardgame collection </h1>
            <form id=submit-button action="/" method="POST">
                <input class="center" type="username" name="username" placeholder="Boardgamegeek username" required>
                <input name=submit-button class="center" type="submit" value="Get Collection" onclick=" this.form.submit(); this.disabled=true;">
                </form>
        </div>
    </div>

{% endblock %}