{% extends "shared/_layout.html" %}
{% block main_content %}
    <div class="hero">
        <div class="hero-inner">
            <h1 class="collection-name" hx-post="/user_collection/{{username}}/refresh"
                hx-target=".games_list"
                hx-trigger="click"> {{username}} Collection <i class="fas fa-sync"></i></h1>
        </div>
    </div>
    <div class="container filter-options">
        <form action="" method="POST">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-5">
                    <div class="player-count-multiselect">
                        <label for="Player Count">Player Count</label>
                        <select hx-post="/user_collection/{{username}}"
                                hx-target=".games_list"
                                hx-trigger="change"
                                class="custom-select"
                                name="player_count">
                            <option selected>Any</option>
                            {% for player_count in range(1, 12)%}
                                <option value="{{player_count}}">{{player_count}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="player-count-radio">
                        {% for player_count_filter_type in ['Possible', 'Recommended', 'Best'] %}
                        <div class="form-check form-check-inline">
                            <input hx-post="/user_collection/{{username}}"
                                    hx-target=".games_list"
                                    hx-trigger="change"
                                    class="form-check-input"
                                    type="radio"
                                    name="player_count_filter_type"
                                    id="player_count_type_{{player_count_filter_type}}"
                                    value="{{player_count_filter_type}}"  checked>
                            <label class="form-check-label" for="player_count_type_{{player_count_filter_type}}">
                                {{player_count_filter_type}}
                            </label>
                        </div>

                        {% endfor%}

                    </div>
                </div>

                <div class="form-group col-sm-5">
                    <div class="inline-block-inputs">
                        <label for="from-to-filter min_playing_time">Playing Time</label>
                        <select hx-post="/user_collection/{{username}}"
                                hx-target=".games_list"
                                hx-trigger="change"
                                class="custom-select number-input"
                                name="min_playing_time">
                            <option selected>Any</option>
                            {% for playing_time in range(15, 300, 15)%}
                                <option value="{{playing_time}}">{{playing_time}}</option>
                            {% endfor %}
                        </select>
                    </div><div class="inline-block-inputs seperator">-</div><div class="inline-block-inputs">
                        <select hx-post="/user_collection/{{username}}"
                                hx-target=".games_list"
                                hx-trigger="change"
                                class="custom-select number-input"
                                name="max_playing_time">
                            <option selected>Any</option>
                            {% for playing_time in range(15, 300, 15)%}
                                <option value="{{playing_time}}">{{playing_time}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="from-to-filter form-group col-sm-5">
                    <div class="inline-block-inputs">
                        <label for="min_weight">Weight</label>
                        <select hx-post="/user_collection/{{username}}"
                                hx-target=".games_list"
                                hx-trigger="change"
                                class="custom-select number-input"
                                name="min_weight">
                            <option selected>Any</option>
                            {% for weight in range(0, 6)%}
                                <option value="{{weight}}">{{weight}}</option>
                            {% endfor %}
                        </select>
                    </div><div class="inline-block-inputs seperator">-</div><div class="inline-block-inputs">
                        <select hx-post="/user_collection/{{username}}"
                                hx-target=".games_list"
                                hx-trigger="change"
                                class="custom-select number-input"
                                name="max_weight">
                            <option selected>Any</option>
                            {% for weight in range(0, 6)%}
                                <option value="{{weight}}">{{weight}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-5">
                    <div class="form-check mb-2">
                        <input hx-post="/user_collection/{{username}}"
                            hx-target=".games_list"
                            hx-trigger="change"
                            class="form-check-input"
                            type="checkbox"
                            id="autoSizingCheck"
                            name="include_expansions">
                        <label class="form-check-label" for="autoSizingCheck">
                            Include Expansions
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-5">
                    <div class="sort_field-div inline-block-inputs">
                        <label for="Sort Field">Sort Field</label>
                        <select hx-post="/user_collection/{{username}}"
                                hx-target=".games_list"
                                hx-trigger="change"
                                class="custom-select sort-field"
                                name="sort_field">
                            {% for field in sorting_options %}
                                {% if field == "Title" %}
                                    <option selected value="{{field}}">{{field}}</option>
                                {% else %}
                                    <option value="{{field}}">{{field}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div><!--
                    --><div class="sort_type-div inline-block-inputs ">
                        <label for="Sort Type">Sort Type</label>
                        <select hx-post="/user_collection/{{username}}"
                                hx-target=".games_list"
                                hx-trigger="change"
                                class="custom-select sort-type"
                                name="sort_type">
                            <option selected value="asc">asc</option>
                            <option value="desc">desc</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </form>

    </div>

    <div class="games_list">
        {{ render_partial('shared/partials/games_list.html', images=images, collection_stats=collection_stats) }}
    </div>

{% endblock %}