body {
    color: #222222;
    margin: 0px;
    padding: 0px;
    background-color: #006dad;
}

.hero {
    background-color: #006dad;
    color: white;
    font-size: 14;

    padding: 0px 0px;
    text-align: center;
}

    .hero h1 {
        font-size: 24px;
        margin-bottom: 30px;
    }

.game-container {
    background-color: lightgray;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 100px;
}

.game-info .description {
    white-space: pre-line;
}

.game-title {
    padding-left: 15px;
    font-size: large;
    font-weight: bold;
}

.allways-game-info {
    margin-top: 20px;
}

.recommended-best-players {
    font-size: small;
}

.playing-time {
    font-size: small;
}

.thumbnail {
    margin: 0px;
    padding: 0px;
}

/* xs*/
.thumbnail img {
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    height: 10;

}

/* sm and above*/
@media (min-width: 768px) {
    .thumbnail img{
        float: left;
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 10px;
        height: 100px;
        width: 100px;
    }
}




.collection-list {
    background-color: white;
}
