body {
    color: #222222;
    margin: 0px;
    padding: 0px;
    background-color: #006dad;
}

.hero {
    background-color: #006dad;
    color: white;
    font-size: 14;
    margin: auto;
    width: 50%;
    padding: 0px 0px;
    text-align: center;
}
    .hero h1 {
        font-size: 24px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .hero form{
        display: flex;
        justify-content: center;
    }

.stats-banner {
    width: 100%;
    margin: 0px;
    background-color: lightgray;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-banner-stat {
    width: 33%;
    margin: 0px;
    padding: 0px;
    float: left;
    text-align: center;
}

.game-container {
    background-color: lightgray;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 100px;
}

.game-title {
    width: calc(65%);
    font-weight: bold;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input, label {
    display: block;
}

.allways-game-info-container {
    width: 100%;
    margin: 0px;
}

.allways-game-info {
    vertical-align: text-top;
    width: 22%;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    display: inline-block;
}

.fa-star {
    color: yellow;
}

.fa-thumbs-up {
    color: green;
}

@media (min-width: 768px) {
    .allways-game-info{
        margin-right: 20px;
    }
}

.recommended-best-players {
    font-size: small;
}

.thumbnail {
    margin: 0px;
    padding: 0px;
}

/* xs
.thumbnail img {
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    height: 10;

}
*/

/* sm and above
@media (min-width: 768px) {

}
*/

.thumbnail img{
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.collection-list {
    background-color: white;
    padding: 0px;
}

.player-count-input {
    width: 300px;
}

.number-input {
    width: 100px;
}

.inline-block-inputs {
    display: inline-block;
}

.seperator {
    padding: 5px;
}
