<div class="container collection-list">
    <div class="stats-banner">
        <div class="current-filter-num_games stats-banner-stat">Showing: LL</div>
        <div class="base-games-num-games stats-banner-stat">Base game: LL</div>
        <div class="expansion-num-games stats-banner-stat" >Expansions: LL</div>
    </div>
    {% for game in images %}
    <div class="row game-row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="game-container">
                <div class="thumbnail">
                    <img src={{game.thumbnail_url}} alt="">
                </div>
                <div class="game-info">
                    <div class="game-title game-info-item text-truncate">{{game.title}}</div>
                        <div class="allways-game-info-container">
                            <span class="allways-game-info">
                                <div class="possible-players game-info-item">
                                    <i class="fas fa-user"></i>
                                    {% if game.min_players !=  game.max_players%}
                                        {{game.min_players}} - {{game.max_players}}
                                    {% else %}
                                        {{game.min_players}}
                                    {% endif %}
                                </div>
                                <div class="recommended-best-players game-info-item">
                                    <i class="fas fa-star"></i> {{game.user_suggested_best_number_of_players | replace('|', ',')}}
                                    <br>
                                    <i class="fas fa-thumbs-up"></i> {{game.user_suggested_recommended_not_best_number_of_players | replace('|', ',')}}
                                </div>
                            </span>
                            <span class="allways-game-info">
                                <div class="playing-time-value game-info-item">
                                    <i class="fas fa-clock"></i>
                                    {% if game.min_playing_time !=  game.max_playing_time%}
                                        {{game.min_playing_time}} - {{game.max_playing_time}}
                                    {% else %}
                                        {{game.min_playing_time}}
                                    {% endif %}
                                </div>
                            </span>
                            <span class="allways-game-info">
                                <div class="weight game-info-item"><i class="fas fa-weight-hanging"></i> Todo</div>
                            </span>
                        </div>

                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    {% endfor %}
</div>

