<div class="container collection-list">
    {% for game in images %}
    <div class="row game-row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="game-container">
                <div class="thumbnail">
                    <img src={{game.thumbnail_url}} alt="">
                </div>
                <div class="game-info">
                    <div class="game-title game-info-item">{{game.title}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    {% endfor %}
</div>

